@import "tailwindcss";

:root {
  --background: #f2f6fa;
  --foreground: #2a3547;
  --muted: #5a6a85;
  --border: #e5eaef;
  --card: #ffffff;
  --primary: #5d87ff;
  --primary-light: #ecf2ff;
  --secondary: #49beff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-card: var(--card);
  --color-primary: var(--primary);
}

body {
  background: var(--background);
  color: var(--foreground);
}
